ohmValue/WebApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ohmValue" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ohmValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="OhmValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="OhmValue" type="xs:double" />
      <xs:element minOccurs="0" name="OhmValue1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OhmValues" nillable="true" type="tns:OhmValues" />
</xs:schema>